<div class="container">
  <h1>Deaf Grandma</h1>
  <p> message to grandma: </p>
  <p><%= @response %></p></br>
  <p> message from grandma: </p>
  <p><%= @msg %></p>

  <div class="container">
    <%= render "index" %>
  </div>
</div>
