<!DOCTYPE html>
<html>
  <head>
    <title>Deaf Grandma</title>

      <%= stylesheet_link_tag    "application", :media => "all" %>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>

  </head>

  <body>
  <div class="container">
    <h1>Deaf Grandma</h1>

    <%= link_to "Talk to Grandma", new_page_path, id: "form_link", remote: true %>

    <div id="show_response">
    </div>
  </div>
  </body>
</html>
